{% load static %}
<div class="product-header-menu">
                <a href="{% url 'main:index'%}"><img src="{% static '/img/logo.svg' %}" alt="logo"></a>
                <ul class="menu">
                    <li class="menu_list">
                        <a href="{% url 'main:index' %}"
                           class="menu_link {% if request.resolver_match.url_name == 'index' %} menu_link_active {% endif %}">HOME</a>
                    </li>
                    <li class="menu_list"><a href="{% url 'main:products' %}" class="menu_link {% if request.resolver_match.url_name == 'products' or request.resolver_match.url_name == 'category' %} menu_link_active {% endif %}">PRODUCTS</a></li>
                    <li class="menu_list"><a href="{% url 'main:contacts' %}" class="menu_link {% if request.resolver_match.url_name == 'contacts' %} menu_link_active {% endif %}">CONTACT</a></li>
                    <li class="menu_list">
                    {% if user.is_authenticated %}
                        <a href="{% url 'auth:update' %}" class="menu_link">
                        {{ user.first_name|default:'User' }}
                        </a>
                    {% endif %}
                    {% if user.is_authenticated %}
                        <a href="{% url 'authapp:logout' %}" class="menu_link">Sign out</a>
                    {% else %}
                        <a href="{% url 'authapp:login' %}" class="menu_link">Sign in</a>
                    {% endif %}
                    </li>
                    <li class="menu_list"><a href="#" class="menu_link"><img src="/static/img/search.svg" alt="search"></a></li>
                    <li class="menu_list"><a href="#" class="menu_link"><img src="/static/img/basket.png" alt="search"></a></li>
                    {% if basket %}
                        {{ basket|length }}
                    {% endif %}
                </ul>
</div>