{% load static %}
<div class="product-header-menu">
    <a href="{% url 'main:index' %}"><img src="{% static '/img/logo.svg' %}" alt="logo"></a>
    <ul class="menu">
        <li class="menu_list">
            <a href="{% url 'main:index' %}"
               class="menu_link {% if request.resolver_match.url_name == 'index' %} menu_link_active {% endif %}">HOME</a>
        </li>
        <li class="menu_list"><a href="{% url 'main:products' %}"
                                 class="menu_link {% if request.resolver_match.url_name == 'products' or request.resolver_match.url_name == 'category' %} menu_link_active {% endif %}">PRODUCTS</a>
        </li>
        <li class="menu_list"><a href="{% url 'main:contacts' %}"
                                 class="menu_link {% if request.resolver_match.url_name == 'contacts' %} menu_link_active {% endif %}">CONTACT</a>
        </li>
        <li class="menu_list">
            {% if user.is_authenticated %}
                <li class="menu_list">
                    <div class="dropdown">
                        <a class="dropdown-toggle" href="" data-toggle="dropdown">
                            {{ user.first_name|default:'User' }}
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="menu_list">
                                <a class="menu_link" href="{% url 'auth:update' %}">
                                    edit profile
                                </a>
                            </li>
                            <li class="menu_list">
                                <a class="menu_link" href="#">
                                    orders
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            {% endif %}
        {% if user.is_superuser %}
            <li>
                <a href="{% url 'adminapp:index' %}" class="menu_link">
                    Admin
                </a>
            </li>
        {% endif %}
        {% if user.is_authenticated %}
            <li class="menu_list">
                <a href="{% url 'authapp:logout' %}" class="menu_link">Sign out</a>
            </li>
        {% else %}
            <li class="menu_list">
                <a href="{% url 'authapp:login' %}" class="menu_link">Sign in</a>
            </li>
        {% endif %}
        <li class="menu_list"><a href="#" class="menu_link"><img src="/static/img/search.svg" alt="search"></a></li>
        <li class="menu_list"><a href="{% url 'basket:index' %}" class="menu_link"><img src="/static/img/basket.png"
                                                                                        alt="search"></a></li>
        {% if basket %}
            {{ basket.0.total_quantity }} шт.
            {{ basket.0.total_cost|floatformat:0 }} руб.
        {% endif %}
    </ul>
</div>