{% extends 'mainapp/base.html' %}
{% block container %}
        <div class="header_product padding-site">
            {% include 'mainapp/includes/inc_menu.html' %}
            <h2 class="h2-product">Contact Us</h2>
        </div>
        <div class="contacts-box padding-site">
            {% for item in content %}
            <div class="contact1">
                <i class="fas fa-map-marker-alt fa-5x"></i>
                <h3 class="city">{{ item.city }}</h3>
                <h4 class="phone">Phone:</h4>
                <p class="contacts-text">{{ item.phone }}</p>
                <h4 class="email">Email:</h4>
                <p class="contacts-text">{{ item.email }}</p>
                <h4 class="adress">Adress:</h4>
                <p class="contacts-text-adress">{{ item.adress }}</p>
            </div>
            {% endfor %}
        </div>
{% endblock %}