<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9d8cbc5593.js"></script>
</head>

<body>
    <div class="container">
        <div class="slider padding-site">
            <div class="header">
                <a href="/"><img src="/static/img/logo.svg" alt="logo"></a>
                <ul class="menu">
                    <li class="menu_list"><a href="/" class="menu_link menu_link_active">HOME</a></li>
                    <li class="menu_list"><a href="/product" class="menu_link">PRODUCTS</a></li>
                    <li class="menu_list"><a href="#" class="menu_link">HISTORY</a></li>
                    <li class="menu_list"><a href="#" class="menu_link">SHOWROOM</a></li>
                    <li class="menu_list"><a href="/contacts" class="menu_link">CONTACT</a></li>
                    <li class="menu_list"><a href="#" class="menu_link"><img src="/static/img/search.svg" alt="search"></a></li>
                </ul>
            </div>
            <div class="slider_text_box">
                <p class="trending">Trending</p>
                <h3 class="slider_h3">Fishnet Chair</h3>
                <p class="slider_text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black
                    or highly polished chrome.</p>
                <a href="#" class="order_button">Order Us</a>
            </div>
            <div class="slider_pag">
                <a href="#" class="circle"></a>
                <a href="#" class="circle circle_active"></a>
                <a href="#" class="circle"></a>
            </div>
        </div>
        <div class="product_box padding-site ">
            <div class="product_heading">
                <ul class="featured_menu_ul">
                    <li class="featured_menu_li"><a href="#" class="featured_menu featured_menu_active">Featured</a></li>
                    <li class="featured_menu_li"><a href="#" class="featured_menu">New</a></li>
                </ul>
                <a class="expoler_button" href="#">Explore all</a>
            </div>
            <div class="products_img">
                <div class="product" style="background-image: url(/static/img/product-1.jpg)">
                    <div class="product_content">
                        <a href="#" class="product_button"><img src="/static/img/arrow.svg" alt=">"></a>
                        <h3 class="product_h3">Fishnet Chair</h3>
                        <p class="product_p">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </div>
                <div class="product" style="background-image: url(/static/img/product-2.jpg)">
                    <div class="product_content">
                        <a href="#" class="product_button"><img src="/static/img/arrow.svg" alt=">"></a>
                        <h3 class="product_h3">Fishnet Chair</h3>
                        <p class="product_p">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </div>
                <div class="product" style="background-image: url(/static/img/product-3.jpg)">
                    <div class="product_content">
                        <a href="#" class="product_button"><img src="/static/img/arrow.svg" alt=">"></a>
                        <h3 class="product_h3">Fishnet Chair</h3>
                        <p class="product_p">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </div>
                <div class="product" style="background-image: url(/static/img/product-4.jpg)">
                    <div class="product_content">
                        <a href="#" class="product_button"><img src="/static/img/arrow.svg" alt=">"></a>
                        <h3 class="product_h3">Fishnet Chair</h3>
                        <p class="product_p">Seat and back with upholstery made of cold cure foam</p>
                    </div>
                </div>
            </div>


        </div>
        <div class="promo_products">
            <div class="promo1">
                <div class="promo_text_box">
                    <p class="exclusive">Exclusive</p>
                    <h3 class="promo_h3">Fishnet Chair</h3>
                    <p class="promo_text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="order_button">Order Us</a>
                </div>
            </div>
            <div class="promo2">
                <div class="promo_text_box">
                    <p class="exclusive">Exclusive</p>
                    <h3 class="promo_h3">Fishnet Chair</h3>
                    <p class="promo_text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="order_button">Order Us</a>
                </div>
            </div>
        </div>
        <div class="trending_products padding-site">
            <div class="trending_header">
                <h2 class="trending_h2">Trending products</h2>
                <a class="expoler_button_trending" href="#">Explore all</a>
            </div>
            <div class="trending_products_box">
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-11.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-21.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-31.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-41.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-5.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-6.jpg" alt="trending_product"></a>
            </div>
        </div>
        <div class="slider_2 padding-site">
            <div class="slider_text_box_2">
                <p class="hot_deal">Hot deal</p>
                <h3 class="slider_h3">Fishnet Chair</h3>
                <p class="slider_text_2">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt powder-coated black</p>
                <a href="#" class="order_button">Order Us</a>
            </div>
            <div class="slider_pag">
                <a href="#" class="circle"></a>
                <a href="#" class="circle circle_active"></a>
                <a href="#" class="circle"></a>
            </div>
        </div>
        <div class="exclusive-product-box padding-site">
            <div class="exclusive_product_lg" style="background-image: url(/static/img/product-1-lg.jpg)">
                <div class="exclusive_product_lg_content">
                    <p class="exclusive">Exclusive</p>
                    <h3 class="promo_h3">Fishnet Chair</h3>
                    <p class="promo_text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="order_button">Order Us</a>
                </div>
            </div>
            <div class="exlucive-product-box-sm">
                <div class="exclusive_product_sm" style="background-image: url(/static/img/product-2-sm.jpg)"></div>
                <div class="exclusive_product_sm" style="background-image: url(/static/img/product-3-sm.jpg)"></div>
                <div class="exclusive_product_sm" style="background-image: url(/static/img/product-4-sm.jpg)"></div>
                <div class="exclusive_product_sm" style="background-image: url(/static/img/product-5-sm.jpg)"></div>
            </div>
        </div>
        <div class="mobile padding-site">
            <div class="mobile_text_box">
                <p class="mobile_app">Mobile app</p>
                <h3 class="mobile_h3">Find. Follow. Favorite.</h3>
                <p class="mobile_text_2">Save your favorites and share your style.</p>
                <a href="#"><img src="/static/img/app-store.png" alt="appstore"></a>
                <a href="#" class="googleplay"><img src="/static/img/google-play.png" alt="google-play"></a>
            </div>
        </div>
        <footer class="footer padding-site">
            <div class="footer-topics">
                <div class="topic1">
                    <h3 class="footer-h3">Contact us</h3>
                    <p class="text-footer">132A Bridge Road Richmond VIC Australia.<br><br> Talk to us on 1300 132<br> info@interior.com</p>
                </div>
                <div class="topic2">
                    <h3 class="footer-h3">Useful information</h3>
                    <div class="footer-topic2-container">
                        <div class="footer-topic2-1">
                            <a href="#" class="usefull-info-a">Sales terms</a>
                            <a href="#" class="usefull-info-a">Customer care</a>
                            <a href="#" class="usefull-info-a">Delivery</a>
                        </div>
                        <div class="footer-topic2-2">
                            <a href="#" class="usefull-info-a">Architect accounts</a>
                            <a href="#" class="usefull-info-a">Careers</a>
                            <a href="#" class="usefull-info-a">Exchanges &amp; returns</a>
                        </div>
                    </div>
                </div>
                <div class="topic3">
                    <h3 class="footer-h3">Let's stay in touch!</h3>
                    <p class="text-footer">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                    <input type="email" class="email-input" placeholder="your email address">

                </div>
            </div>
            <div class="copyright">
                <p class="copyright-text">&#169; Copyright - INTERIOR 2016. All Rights Reserved.</p>
                <div class="footer-social">
                    <i class="fab fa-google fa-2x"></i>
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-pinterest fa-2x"></i>
                    <i class="fab fa-telegram fa-2x"></i>
                </div>
                <p class="copyright-text">Terms &amp; Conditions / Privacy policy &amp; Cookies</p>
            </div>
        </footer>
    </div>
</body>

</html>
