<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,700" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9d8cbc5593.js"></script>
</head>

<body>
    <div class="container">
        <div class="header_product padding-site">
            <div class="product-header-menu">
                <a href="/"><img src="/static/img/logo.svg" alt="logo"></a>
                <ul class="menu">
                    <li class="menu_list"><a href="/" class="menu_link menu_link_active">HOME</a></li>
                    <li class="menu_list"><a href="/product" class="menu_link">PRODUCTS</a></li>
                    <li class="menu_list"><a href="#" class="menu_link">HISTORY</a></li>
                    <li class="menu_list"><a href="#" class="menu_link">SHOWROOM</a></li>
                    <li class="menu_list"><a href="/contacts" class="menu_link">CONTACT</a></li>
                    <li class="menu_list"><a href="#" class="menu_link"><img src="/static/img/search.svg" alt="search"></a></li>
                </ul>
            </div>
            <h2 class="h2-product">Our Products Range</h2>
        </div>
        <div class="products-range padding-site">
            <div class="products-range-header">
                <a href="" class="products-range-menu products-range-menu-active">All</a>
                <a href="#" class="products-range-menu">Home</a>
                <a href="#" class="products-range-menu">Office</a>
                <a href="#" class="products-range-menu">Furniture</a>
                <a href="#" class="products-range-menu">Modern</a>
                <a href="#" class="products-range-menu">Classic</a>
            </div>
            <div class="products-range-box">
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-11.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-21.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-31.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-41.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-5.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-6.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-11.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-21.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-31.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-41.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-5.jpg" alt="trending_product"></a>
                <a href="#"><img class="trending_product_shadow" src="/static/img/product-6.jpg" alt="trending_product"></a>
            </div>
            <span class="icon-spinner9" style="display: inline-block; text-align: center; padding-top: 71px; padding-bottom: 120px;" ;></span>
        </div>
        <div class="promo_products">
            <div class="promo1">
                <div class="promo_text_box">
                    <p class="exclusive">Exclusive</p>
                    <h3 class="promo_h3">Fishnet Chair</h3>
                    <p class="promo_text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="order_button">Order Us</a>
                </div>
            </div>
            <div class="promo2">
                <div class="promo_text_box">
                    <p class="exclusive">Exclusive</p>
                    <h3 class="promo_h3">Fishnet Chair</h3>
                    <p class="promo_text">Seat and back with upholstery made of cold cure foam. Steel frame, available in matt</p>
                    <a href="#" class="order_button">Order Us</a>
                </div>
            </div>
        </div>
        <div class="footer padding-site">
            <div class="footer-topics">
                <div class="topic1">
                    <h3 class="footer-h3">Contact us</h3>
                    <p class="text-footer">132A Bridge Road Richmond VIC Australia.<br><br> Talk to us on 1300 132<br> info@interior.com</p>
                </div>
                <div class="topic2">
                    <h3 class="footer-h3">Useful information</h3>
                    <div class="footer-topic2-container">
                        <div class="footer-topic2-1">
                            <a href="#" class="usefull-info-a">Sales terms</a>
                            <a href="#" class="usefull-info-a">Customer care</a>
                            <a href="#" class="usefull-info-a">Delivery</a>
                        </div>
                        <div class="footer-topic2-2">
                            <a href="#" class="usefull-info-a">Architect accounts</a>
                            <a href="#" class="usefull-info-a">Careers</a>
                            <a href="#" class="usefull-info-a">Exchanges &amp; returns</a>
                        </div>
                    </div>
                </div>
                <div class="topic3">
                    <h3 class="footer-h3">Let's stay in touch!</h3>
                    <p class="text-footer">Suscribe to know about our latest news, products and special offers just for suscribers.</p>
                    <input type="email" class="email-input" placeholder="your email address">

                </div>
            </div>
            <div class="copyright">
                <p class="copyright-text">&#169; Copyright - INTERIOR 2016. All Rights Reserved.</p>
                <div class="footer-social">
                    <i class="fab fa-google fa-2x"></i>
                    <i class="fab fa-facebook fa-2x"></i>
                    <i class="fab fa-pinterest fa-2x"></i>
                    <i class="fab fa-telegram fa-2x"></i>
                </div>
                <p class="copyright-text">Terms &amp; Conditions / Privacy policy &amp; Cookies</p>
            </div>
        </div>
    </div>

</body>

</html>
