{% extends 'ordersapp/base.html' %}
{% load staticfiles %}

<div class="container">
{% block container %}
    <div class="category_delete">
        <div class="h1">Are you sure you want to delete?</div>
        {% include 'ordersapp/includes/inc_order_summary.html' %}
        <form action="{% url 'ordersapp:order_delete' object.pk %}" method="post">
            {% csrf_token %}
            <input class="btn btn-danger" type="submit" value="delete">
        </form>
        <button class="btn btn-success">
            <a href="{% url 'ordersapp:orders_list' %}">cancel</a>
        </button>
    </div>
{% endblock %}
</div>